h2{
    font-size: 34px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    line-height: 1;
}
/* header */
#header h1{
    text-align: center;
    color:white;
    font-size: 50px;
    background: teal;
    margin: 0px;
    padding: 10px;
}

/* end header */
/* Content */
#content{
    line-height: 1.5;
    width: 1270px;
    margin: 40px auto;
}



/* paragrap */

#paragraph{
    margin: 0px auto;
    font-family: 'Fuggles', cursive;
   
}

#paragraph .box1 {
    display: flex;
    margin: 40px 0px;
    font-size: 20px;
}

#paragraph .paragraph_left{
    margin-right: 72px;
    box-shadow: 5px 5px 5px 5px #dddddd;
    padding: 0px 28px;
}
#paragraph  span{
font-weight: bold;
}
/* end paragraph */

/* Comment */
#comments .item{
    background: #f5f5f5;
    padding: 5px 15px;
    margin-bottom: 5px;
}
#comments .item .box2{
display: flex;
}
#comments .item .box2 h3{
    text-transform: capitalize;
}
#comments .item .box2 span{
    color: yellowgreen;
}
#comments .item .box2 .date{
    padding: 0px 10px;
}
#comments .item .box2 .icon i{
    border: 1px solid;
    padding: 5px;
    font-size: 36px;
    flex-wrap: wrap;
    margin: 15px 0px 0px 909px;
}
#comments .item p{
    padding: 0px 7px 0px 10px;
}
/* end comment */

/* Client */
#clients_say h2{
    text-transform: uppercase;
}
#clients_say .underlined{
    background: red;
    width: 108px;
    height: 4px;
    margin-left: 565px;
    margin-bottom: 64px;
}
#clients_say .list_item{
    background: whitesmoke;
    padding: 20px  0px;
   
}
#clients_say ul{
    display: flex;
    margin: 70px;
    justify-content: space-between;
}

#clients_say ul .item{
display: flex;
padding: 0px 10px;
line-height: 1.5;

}
#clients_say ul .item .icon_H{
    width: 64px;
    height: 28px;
    background: green;
    padding: 13px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    margin-right: 15px;
}

#clients_say .item_content span{
    font-weight: bold;
}
/* end Client */


/* contact- us */
#contact_us h2{
text-align: left;
}
#contact_us .underlined{
    background: orange;
    width: 70px;
    height: 4px;
    margin-bottom: 10px;
}
#contact_us .box3{
    display: flex;
    justify-content: space-between;
}
#contact_us   h3{
    font-size: 25px;
    text-transform: capitalize;
}

#contact_us .box3 i{
margin-right: 10px;
}
#contact_us .box3 .form input{
    margin-bottom: 13px;
    padding: 10px 543px 10px 6px;
}
#contact_us button{
    background: green;
    padding: 12px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin: 13px 550px;
    border-radius: 10px;
}
/* end contact_us */

/* developers */
#developers h2{
    color: yellow;
    font-size: 50px;
}
#developers  .list_item{
    margin-top: 20px;
}
#developers ul{
display: flex;
justify-content: space-between;
}
#developers ul li{
    width: 546px;
    margin-bottom: 18px;
}

#developers .logo{
    width: 30px;
    margin-bottom: 15px;
}
#developers .logo1 img{
    width: 138px;
    text-align: center;
    margin: 17px 201px;
    height: 132px;
}
#developers .logo img{
    width: 241px;
    text-align: center;
    margin: 49px 19px 0px 155px;
    height: 100px;

}
#developers .text{
    text-align: center;
}
/* end developers */

/* project */
#project .list_item {
    width: 1916px;
        height: 378px;
    margin-left: -327px;
    background: whitesmoke;
  
}
#project .box{
    width: 1916px;
    height: 168px;
    background: #0505f99e;
    margin-left: -327px;
    color: white;
    
}
#project .box h2{
    padding: 0px 12px 1px 476px;
    text-align: left;
    text-transform: initial;
    position: absolute;
}

#project .list_item ul{

    display: flex;
    /* justify-content: space-between; */
    margin: 0px auto;
    /* margin-right: 47px; */
    padding: 0px 476px;
    position: relative;
    top: -32px;
}
#project ul li{
    width: 350px;
    margin-right: 27px;
    background: white;
    padding: 7px 11px 31px 30px;
    line-height: 1.5;
}
#project .icon{

    color: yellowgreen;
    font-size: 31px;
    padding-top: 45px;  
}
#project h3{
    font-size: 28px;
    text-transform: capitalize;
    margin: 0;  

}

/* end project */
/* plan */
#plan{
    background: rgb(235, 229, 229);
    padding: 0px 50px 50px 50px;
}
#plan .box{
    display: flex;
    margin-top: 25px;
}

#plan .box1{
    width: 500px;
}

#plan .box1 .text{
    padding: 0px 25px;
}
#plan .box1 p{
    width: 398px;
}

#plan .box1 h3{
    width: 330px;
    font-size: 24px;
}

#plan .list_item{

    margin: -33px;
}
#plan .list_item  li{
display: flex;
padding-bottom: 20px;
border-bottom: 1px dotted black;
    
}
#plan li p{
    padding: 17px 0px 0px 22px;
    margin: 0px;
}
#plan .list_item .icon_H{
    width: 90px;
    height: 90px;
    background: rgb(224, 21, 174);
    font-size: 56px;
    color: white;
    margin-right: 25px;
    margin-top: 20px;
}

/* end plan */

/* web- chuẩn */
#web_Chuan{
    display: flex;
    margin-top: 66px;
}
#web_Chuan .Hoc_web_Chuan 
{
    background: green;
    width: 656px;
    font-size: 40px;
    color: white;
    padding: 195px 6px 0px 32px;
}

#web_Chuan .content{
    margin-left: 35px;
}
#web_Chuan .content h3{
    font-size: 30px;
    margin-top: -8px;
}
#web_Chuan .content ul.father{
    display: flex;
}
#web_Chuan .content ul.father li{
    margin-bottom: 13px;
}
#web_Chuan button{
    padding: 11px;
    background: green;
    border-radius: 8px;
}
/* end web chuẩn */

/* list */
#list{
    background: #f5f5f5;
}
#list .list_item li{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px dotted black;
      
}
#list .list_item .icon_H{
    width: 90px;
    height: 90px;
    background: rgb(224, 21, 174);
    font-size: 56px;
    color: white;
    margin-right: 25px;
    margin-top: 20px;
}
#list .list_item p{
    padding: 17px 0px 0px 22px;
    margin: 0px;
}
/* end list */

/* contact form*/


#contact_form h2{

    margin: 34px;

}
 .inline_form input{
    padding: 15px 319px 15px 18px;
    font-size: 24px;
}
 .block input{

    padding: 15px 956px 15px 17px;
    font-size: 24px;
    margin-bottom: 13px;
}

#contact_form textarea{
    font-size: 24px;
    padding: 15px 849px 150px 10px;
}
#contact_form button{
    font-size: 24px;
    padding: 23px 61px;
    margin: 12px 85px 10px 613px;
    background: green;
    border-radius: 10px;
    color: white;
}
/* end contact */

/* Form_login */

#form_login{
    margin-top: 50px;
}
#form_login input, select{
    margin-bottom: 20px;
}
#form_login select{
    font-size: 24px;
    padding: 15px 444px 15px 10px;
}
#form_login .block input{
    padding: 15px 957px 400px 15px;
}
#form_login button{
    background: black;
    color: white;
    font-size: 24px;
    padding: 0px 581px 0px 611px;
}
#form_login p{
    text-align:  center;
}
/* end form_login */

/* form_blog */
#form_blog .text_header{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 31px;
}
#form_blog ul {
    display: flex;
    padding: 0px;
}
#form_blog li{
    padding: 0px 10px
}
#form_blog img{
    width: 299px;
}
#form_blog h3{
    font-size: 24px;
}

#form_blog .author{
    text-transform: capitalize;
}
#form_blog .btn p{
    width: 87px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
}
/* end form_blog */

/* out service */
#our_Service .text_header{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 31px;
}
#our_Service ul{
display: flex;
padding: 0px;
}
#our_Service li{
     /* padding: 0px 18px 3px 26px; */
    background: #eeeeee;
}
#our_Service li.item{
   
    margin-right: 49px;
}
#our_Service .box{
padding: 0px 20px;
}


#our_Service  li  .gb_green{
    background: rgb(32, 121, 238);
    /* height: 220px; */
    color: white;
    font-size: 37px;
    margin: 0px;
    padding: 156px 44px 124px 88px;
    text-transform: capitalize;
}
#our_Service  li .text{
    background:#eeeeee;
}
/* end our sẻvice */



/* choosse_us */

#choose_us .bg_black{
    background: black;
    height: 220px;
    color: white;
    font-size: 37px;
    width: 806px;
    margin: 0px;
    padding: 219px 119px 114px 152px;
    text-transform: capitalize;
}
#choose_us{
    display: flex;
}
#choose_us .box{

    margin-left: 104px;
    width: 1509px;

}
#choose_us h3{
    font-size: 31px;
    margin: 0px;
}
#choose_us .underlined{
    width: 81px;
    height: 5px;
    background: orange;
    border-radius: 7px;
}
#choose_us .father{
    display: flex;
}
#choose_us .child li{
    
    padding: 7px;

}
#choose_us i{
color: green;

}
/* end choose_us */
/* end content */


/* footer */
/* footer 1 */
#footer_1{
    display: flex;
    justify-content: space-between;
    background: rgb(37, 34, 34);
    color: #988f8f;
}
#footer_1 .content{
    width: 380px;
    padding: 50px;
}
#footer_1 .box{
    width: fit-content;
    padding: 1px 73px;
    background: #29793e;
    font-size: 21px;
    color: white;
    border-radius: 10px;
    margin-bottom: 55px;
    margin-left: 66px;
}
#footer_1 .information_Link{
    width: 350px;
    margin-top: 55px;
    text-align: center;
}
#footer_1 .information_Link H3{
color: white;
}
#footer_1 .information_Link ul {
text-align: center;
text-align: center;
    padding: 0px;
}
#footer_1 .information_Link ul li{
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px dotted;
    
}
#footer_1 .information_Link ul li a{
    color: #988f8f;
}



/* end foter */